<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sismics.reader"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/application_name"
            android:logo="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sismics.reader.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/application_name"
            android:logo="@drawable/ic_launcher"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.ArticleActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"
            android:logo="@android:color/transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:logo="@drawable/ic_action_settings">
        </activity>
        <activity
            android:name=".activity.CategoriesActivity"
            android:label="@string/manage_categories"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:logo="@drawable/ic_action_sort_by_size">
        </activity>
        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/licenses"
            android:logo="@drawable/ic_action_about">
            <intent-filter>
                <action android:name="com.sismics.reader.LICENSES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:name=".provider.RecentSuggestionsProvider"
            android:exported="false"
            android:authorities="com.sismics.reader.provider.RecentSuggestionsProvider" />
    </application>

</manifest>