#bowlG{
position:relative;
width:32px;
height:32px;
display: inline-block;
}

#bowl_ringG{
position:absolute;
width:32px;
height:32px;
border:3px solid #33B5E5;
-moz-border-radius:32px;
-webkit-border-radius:32px;
-ms-border-radius:32px;
-o-border-radius:32px;
border-radius:32px;
}

.ball_holderG{
position:absolute;
width:9px;
height:32px;
left:12px;
top:0px;
-moz-animation-name:ball_moveG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:ball_moveG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:ball_moveG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:ball_moveG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-7px;
width:13px;
height:13px;
background:#0099CC;
-moz-border-radius:11px;
-webkit-border-radius:11px;
-ms-border-radius:11px;
-o-border-radius:11px;
border-radius:11px;
}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@-ms-keyframes ball_moveG{
0%{
-ms-transform:rotate(0deg)}

100%{
-ms-transform:rotate(360deg)}

}

@-o-keyframes ball_moveG{
0%{
-o-transform:rotate(0deg)}

100%{
-o-transform:rotate(360deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(0deg)}

100%{
transform:rotate(360deg)}

}