Package: reader
Version: ${project.version}
Section: net
Priority: optional
Architecture: all
Description: Reader is a Web-based aggregator of content served by Web Feeds.
 .
 Java 8 or higher is required to run Reader.
 .
 More information can be found at http://www.sismics.com/reader/
Maintainer: Jean-Marc Tremeaux <jm.tremeaux@gmail.com>
